@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	outline: none;
	color: #5c4b51;
	font-size: 17px;
}

body{
	background-image: url('img1.jpg');
	/*background-color: #727272;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.wrapper{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form{
	width: 425px;
	height: auto;
	background: #fff;
	padding: 35px 50px;
	border-radius: 2px;
}

.form .title{
	text-align: center;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

.form .input_wrap{
	margin-bottom: 20px;
	width: 325px;
	position: relative;
}

.form .input_wrap:last-child{
	margin-bottom: 0;
}

.form .input_wrap label{
	display: block;
	margin-bottom: 5px;
}

.form .input_wrap input{
	padding: 15px;
	width: 100%;
	border: 1px solid transparent;
	font-size: 16px;
	border-radius: 3px;
}

.form .input_wrap .input{
	background: #f5f4f4;
	padding-right: 35px;
}


.form .input_wrap .input:focus{
	border-color: #90adc6;
}

.form .input_wrap .input_field{
	position: relative;
}

.form .input_wrap .btn{
	text-transform: uppercase;
	letter-spacing: 9px;
	color: #fff;
	width:100%; 
	height: 55px;; 
	border: 1px "solid";
}

.form .input_wrap .btn.disabled{
	background: #727272;
}

.form .input_wrap .btn.enabled{
	background: #90adc6;
	cursor: pointer;
}

.form .input_wrap .error_msg{
	font-size: 15px;
	margin-bottom: 5px;	
	color: #f74040;
	display: none;
}
